<header class="site-navbar py-4" role="banner">

    <div class="container">
        <div class="d-flex align-items-center">
            <div class="site-logo">
                <a href="index.html">
                    <img src="images/logo.png" alt="Logo">
                </a>
            </div>
            <div class="ml-auto">
                <nav class="site-navigation position-relative text-right" role="navigation">
                    <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                        <li class="active"><a routerLink="" class="nav-link">Home</a></li>
                        <li><a routerLink="matches" class="nav-link">Matches</a></li>
                        <li><a routerLink="players" class="nav-link">Players</a></li>
                        <li><a routerLink="teams" class="nav-link">Team</a></li>
                        <li *ngIf="isloggedIn() && user.role=='admin'">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Dashboard
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" routerLink="addMatch">add match</a>
                                    <a class="dropdown-item" routerLink="addTeam">add team</a>
                                    <a class="dropdown-item" routerLink="addPlayer">add player</a>
                                    <a class="dropdown-item" routerLink="addStadium">add stadium</a>
                                    <a class="dropdown-item" routerLink="admin">Admin</a>
                                </div>
                            </div>
                        </li>
                        <li *ngIf="!isloggedIn()"><a routerLink="signup" class="nav-link">Signup</a></li>
                        <li *ngIf="!isloggedIn()"><a routerLink="signin" class="nav-link">Login</a></li>
                         <li *ngIf="isloggedIn()"><a routerLink="signin" class="nav-link">welcome {{user.fName}} {{user.lName}}</a></li>
                        
                         <li *ngIf="isloggedIn()"><button (click)="logout()" class="btn btn-light">logOut</button></li>
                    </ul>
                </nav>

                <a href="#"
                    class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right text-white"><span
                        class="icon-menu h3 text-white"></span></a>
            </div>
        </div>
    </div>

</header>